In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns; sns.set()

In [2]:
foodie_df = pd.read_csv('2020-XTern-DS.csv', na_values='-')
foodie_df.head()

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",$20.00,$50.00,3.5,12.0,4.0,30 minutes
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",$10.00,$50.00,3.5,11.0,4.0,30 minutes
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",$15.00,$50.00,3.6,99.0,30.0,65 minutes
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",$25.00,$99.00,3.7,176.0,95.0,30 minutes
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",$20.00,$99.00,3.2,521.0,235.0,65 minutes

In [3]:
def convert_to_float(x):
    try:
        return float(x)
    except ValueError: # string like 'NEW' or 'Opening soon'
        return None

In [4]:
foodie_df['Numeric_Rating'] = foodie_df.Rating.apply(lambda x: convert_to_float(x))
foodie_df['Votes'] = foodie_df.Votes.astype(float)
foodie_df['Reviews'] = foodie_df.Reviews.astype(float)

In [5]:
def contains_str(x, substr):
    return substr in x

# find records whose Average_Cost don't contain the $ sign:
foodie_df[~foodie_df.Average_Cost.apply(lambda x: contains_str(x, '$'))]

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time,Numeric_Rating
822,ID_8117,39.391951,-85.076733,"Italian, Salad","1,00",$50.00,4.3,1276.0,671.0,45 minutes,4.3
1296,ID_2545,39.330834,-85.806831,North Indian,"1,20",$50.00,3.8,175.0,94.0,45 minutes,3.8

**Comment:** We have bad data here. The Average_Costs (if read as 1.0 and 1.2) are significantly low as compared with the Minimum_Orders and the other records. A reasonable guess would be 10 and 12 instead.

In [6]:
foodie_df.iat[822, 4] = '10.0'
foodie_df.iat[1296, 4] = '12.0'

In [7]:
import re

# remove the $ sign and convert Average_Cost to number
Average_Cost = foodie_df.Average_Cost.apply(lambda x: re.findall('\d+.\d+', x)[0])
foodie_df['Average_Cost'] = Average_Cost.astype(float)

In [8]:
# find records whose Minimum_Order don't contain the $ sign:
foodie_df[~foodie_df.Minimum_Order.apply(lambda x: contains_str(x, '$'))]

Empty DataFrame
Columns: [Restaurant, Latitude, Longitude, Cuisines, Average_Cost, Minimum_Order, Rating, Votes, Reviews, Cook_Time, Numeric_Rating]
Index: []

In [9]:
# remove the $ sign and convert Minimum_Order to number
Min_Order = foodie_df.Minimum_Order.apply(lambda x: re.findall('\d+.\d+', x)[0])
foodie_df['Minimum_Order'] = Min_Order.astype(float)

In [10]:
# find records whose Cook_Time are not in minutes:
foodie_df[~foodie_df.Cook_Time.apply(lambda x: contains_str(x, 'minutes'))]

Empty DataFrame
Columns: [Restaurant, Latitude, Longitude, Cuisines, Average_Cost, Minimum_Order, Rating, Votes, Reviews, Cook_Time, Numeric_Rating]
Index: []

In [11]:
# remove the string 'minutes' and convert Cook_Time to number:
CookTime = foodie_df.Cook_Time.apply(lambda x: re.findall('\d+', x)[0])
foodie_df['Cook_Time'] = CookTime.astype(int)
foodie_df.rename(columns={'Cook_Time': 'Cook_Time_Mins'}, inplace=True)

In [12]:
foodie_df.head()

,Restaurant,Latitude,Longitude,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Cook_Time_Mins,Numeric_Rating
0,ID_6321,39.262605,-85.837372,"Fast Food, Rolls, Burger, Salad, Wraps",20.0,50.0,3.5,12.0,4.0,30,3.5
1,ID_2882,39.775933,-85.740581,"Ice Cream, Desserts",10.0,50.0,3.5,11.0,4.0,30,3.5
2,ID_1595,39.253436,-85.123779,"Italian, Street Food, Fast Food",15.0,50.0,3.6,99.0,30.0,65,3.6
3,ID_5929,39.029841,-85.332050,"Mughlai, North Indian, Chinese",25.0,99.0,3.7,176.0,95.0,30,3.7
4,ID_6123,39.882284,-85.517407,"Cafe, Beverages",20.0,99.0,3.2,521.0,235.0,65,3.2

In [13]:
# export to a csv for later use:
foodie_df.to_csv('Clean_FoodieX_data.csv', index=False)